<!DOCTYPE html>
<html>
<head>
    <%- include('./components/htmlHead'); %>
    <script src="js/editProfileScript.js"></script>
</head>

<body>

<!-- <%- include('./components/backToTopBtn'); %> -->

<header>
    <%- include('./components/header'); %>
</header>

<!-- Content here -->
<body>
<h1 id="title"><%= title %></h1>
<div class="content">
    <div>
        <form id="addCaretakerForm" method="POST" action="/addcaretaker">
            <div id="existingDiv">
                <input type="checkbox" id="existing" name="existing" onclick="exisitng()" checked>Existing user?
            </div>
            <script>
                function exisitng() {
                    var n = document.getElementById("nameDiv");
                    if (n.style.display == "none") {
                        n.style = "display:all;";
                    } else {
                        n.style = "display:none;";
                    }
                    var pw = document.getElementById("passwordDiv");
                    if (pw.style.display == "none") {
                        pw.style = "display:all;";
                    } else {
                        pw.style = "display:none;";
                    }
                    var p = document.getElementById("phoneDiv");
                    if (p.style.display == "none") {
                        p.style = "display:all;";
                    } else {
                        p.style = "display:none;";
                    }
                    var a = document.getElementById("areaDiv");
                    if (a.style.display == "none") {
                        a.style = "display:all;";
                    } else {
                        a.style = "display:none;";
                    }
                }
            </script>
            <div id="jobTypeDiv">
                <p>Job Type: </p>
                <label><input type="radio" name="type" value="fulltime" checked/> Full Time</label><br>
                <label><input type="radio" name="type" value="parttime"/> Part Time</label><br>
            </div>
            <div class="aligner">
                <div id="usernameDiv">
                    <p>Username: </p>
                    <input type="text" id="username" name="username" placeholder="Userame" required>
                </div>

                <div style="display:none;" id="nameDiv">
                    <p>Name: </p>
                    <input type="text" id="name" name="name" placeholder="Name">
                </div>
                <div style="display:none;" id="passwordDiv">
                    <p>Password: </p>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <input type="checkbox" onclick="myFunction()">Show Password
                    <script>
                        function myFunction() {
                            var x = document.getElementById("password");
                            if (x.type === "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }
                    </script>
                </div>
                <div style="display:none;" id="phoneDiv">
                    <p>Phone number: </p>
                    <input type="text" id="phone" name="phone" placeholder="Phone number">
                </div>
                <div style="display:none;" id="areaDiv">
                    <p>Area: </p>
                    <input type="text" id="area" name="area" placeholder="Area">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <p>Pet Type: </p>
                    <p>
                        <label><input type="checkbox" name="ptype" value="Cat" /> Cat</label><br>
                        <label><input type="checkbox" name="ptype" value="Dog" /> Dog</label><br>
                        <label><input type="checkbox" name="ptype" value="Rabbit" /> Rabbit</label><br>
                        <label><input type="checkbox" name="ptype" value="Hamster" /> Hamster</label><br>
                        <label><input type="checkbox" name="ptype" value="Fish" /> Fish</label><br>
                        <label><input type="checkbox" name="ptype" value="Tortoise" /> Tortoise</label><br>
                        <label><input type="checkbox" name="ptype" value="Frog" /> Frog</label><br>
                        <label><input type="checkbox" name="ptype" value="Terappin" /> Terrapin</label><br>
                        <label><input type="checkbox" name="ptype" value="Bird" /> Bird</label><br>
                        <label><input type="checkbox" name="ptype" value="Insect" /> Insect</label><br>
                        <label><input type="checkbox" name="ptype" value="Guinea Pig" /> Guinea Pig</label><br>
                        <label><input type="checkbox" name="ptype" value="Reptile" /> Reptile</label><br>
                    </p>
                </div>
            </div>
            <div class="aligner">
                <p></p>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<script>
    (function() {
        window.addEventListener('load', function() {
            var forms = [document.getElementById('addCaretakerForm')];
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', checkType, false);
            });
        }, false);
    })();
    if ("<%= msg%>" != "") {
        alert('<%= msg%>');
    }
</script>

<footer>
    <%- include('./components/footer'); %>
</footer>
</body>
</html>
