<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/form.css' />
    </head>

    <body>

        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <form method="POST" action="/addtype">
                <h3 id="title">Add Pet Type</h3>
                <p>Pet Type: </p>
                <select name="type" id="type">
                    <option value="Cat">Cat</option>
                    <option value="Dog">Dog</option>
                    <option value="Rabbit">Rabbit</option>
                    <option value="Hamster">Hamster</option>
                    <option value="Fish">Fish</option>
                    <option value="Tortoise">Tortoise</option>
                    <option value="Frog">Frog</option>
                    <option value="Terrapin">Terrapin</option>
                    <option value="Bird">Bird</option>
                    <option value="Insect">Insect</option>
                    <option value="Guinea Pig">Guinea Pig</option>
                    <option value="Reptile">Reptile</option>
                </select>
                <button type="submit" class="button">Submit</button>
                </form>
        </div>

        <script>
            if ("<%= error%>" != "") {
                alert('<%= error%>');
            }
        </script>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
