<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/bid.css' />
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="content">
            <div class="spacing"></div>
            <div id="left-panel">
                <div class="card">
                    <h1>Care Taker Profile</h1>
                    <div class="profile-header">
                        <p>Username: <%= data[0].username %></p>
                        <% if (!data[0].rating) { %>
                            <p>Average rating: ★ -</p>
                            <% } else { %>
                            <p>Average rating: ★ <%= data[0].rating %> / 5.00</p>
                            <% } %>
                    </div>
                    <hr>
                    <table>
                        <tr>
                            <td>Name: </td>
                            <td><%= data[0].name %></td>
                        </tr>
                        <tr>
                            <td>Phone number: </td>
                            <td><%= data[0].phone_number %></td>
                        </tr>
                        <tr>
                            <td>Area: </td>
                            <td><%= data[0].area %></td>
                        </tr>
                        <tr>
                            <td>Job type:</td>
                            <td><%= data[0].job_type %></td>
                        </tr>
                    </table>
                </div>
                <div class="spacing"></div>
                <div class="card">
                    <h1>Reviews</h1>
                    <hr>
                    <% if (dataR.length == 0) { %>
                    <p>No review yet.</p>
                    <% } else { %>
                        <% for(var i=0; i<dataR.length; i++) { %>
                            <%- include('./components/review', {reviewer: dataR[i].username, comment: dataR[i].review, rating: dataR[i].rating}); %>
                        <% } %>
                    <% } %>
                </div>
                <div class=spacing></div>
            </div>
            

            <div class="card" id="right-panel">
                <h1><%= title%> for <%= ctuname%></h1>
                <p>Duration:</p>
                <div id="date">
                    <div id="start-date"></div>
                    <div><p>to</p></div>
                    <div id="end-date"></div>
                </div>
                <br>
                <hr>
                <p>Daily price: $<%=  parseFloat(price[0].price).toFixed(2) %></p>
                <p>Total price: $<%=  parseFloat(price[0].total_price).toFixed(2) %></p>
                <hr>
                <% if (data.length) { %>
                <form method="POST" action="/bid/<%= ctuname%>">
                    <input type="hidden" name="type" value="<%= type %>">
                    <input type="hidden" name="start" value="<%= start %>">
                    <input type="hidden" name="end" value="<%= end %>">

                    <div class="form-group">
                        <% if (pet.length) { %>
                        <p>Pet name: </p>
                        <select name="petname" id="petname">
                            <% for(var i = 0; i < pet.length; i++) { %>
                            <option value="<%= pet[i].name%>"><%= pet[i].name%></option>
                            <% } %>
                        </select>
                        <% } else { %>
                            <p>You don't have a pet that can be cared for by this caretaker.</p>
                        <% } %>
                    </div>
                    
                    <% if (pet.length) { %>
                    <div class="form-group">
                        <p>Transfer method: </p>
                        <p>
                            <label><input type="radio" name="transfer" value="Pick up" checked/> Pick up</label><br>
                            <label><input type="radio" name="transfer" value="Deliver" /> Deliver</label><br>
                            <label><input type="radio" name="transfer" value="PCS" /> PCS</label><br>
                        </p>
                    </div>
                    
                    <br>
                    <hr>
                    <div class="form-group">
                        <p>Payment mode: </p>
                        <p>
                            <label><input type="radio" name="payment" value="Cash" checked /> Cash</label><br>
                            <% if (hasCreditCard) { %>
                                <label><input type="radio" name="payment" value="Card" /> Credit Card</label><br>
                            <% } %>
                            
                        </p>
                    </div>
                    <button type="submit" class="button">Submit</button>
                    <% } %>
                </form>
                <% } else { %>
                    <p>You do not have any <%= type%>. </p>
                    <button onclick="window.location.href='/availability'" class="button">Back</button>
                <% } %>
            </div>
            <div class=spacing></div>
        </div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
        <script>
            function format(str) {
                var date = new Date(str);
                return date.toLocaleDateString('en-SG');
            }
            document.getElementById("start-date").innerHTML = format('<%= start%>');
            document.getElementById("end-date").innerHTML = format('<%= end%>');
        </script>
    </body>
</html>
