<!DOCTYPE html>
<html>

<head>
    <%- include('./components/htmlHead'); %>
    <link rel='stylesheet' href='/css/caretaker.css' />
    <script src="js/findCaretakerScript.js"></script>
</head>

<body>
    <header>
        <%- include('./components/header'); %>
    </header>

    <div class="content">
        <div class="spacing"></div>
        <form id="findCaretakerForm" method="POST" action="/caretaker">
            <h1>Find a Care Taker</h1>
            <% if (petTypes.length === 0) { %>
                <label>You do not have any pets yet. Register a pet pet first before finding a caretaker.</label>
                <button onclick="window.location.href='/petadd'"">Add a pet</button>
            <% } else { %>
                <label for="type">Pet Type: </label>
                <select name="type" id="type">
                    <% for(var i = 0; i < petTypes.length; i++) { %>
                    <option value="<%= petTypes[i].type %>"><%= petTypes[i].type %></option>
                    <% } %>
                </select>
                <div class="form-group">
                    <div id="start-date">
                        <label for="start_date">Start Date: </label>
                        <input type="date" name="start_date" placeholder="YYYY-MM-DD" required>
                    </div>
                    <div id="end-date">
                        <label for="end_date">End Date: </label>
                        <input type="date" name="end_date" placeholder="YYYY-MM-DD" required>
                    </div>
                </div>
                <br>
                <button type="submit">Search</button>
            <% } %>
        </form>
    </div>
    <footer>
        <%- include('./components/footer'); %>
    </footer>

    <script>
        (function () {
            window.addEventListener('load', function () {
                var forms = [document.getElementById('findCaretakerForm')];
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', check, false);
                });
            }, false);
        })();
    </script>
</body>

</html>