<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/edit-profile.css' />
        <script src="js/userDataValidation.js"></script>
        <script src="js/togglePassword.js"></script>
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <form id="editProfileForm" method="POST" action="/edit_profile">
              <h3 id="title">Edit Profile</h3>
              
              <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value='<%= data[0].name%>' placeholder="Name" required>
              </div>
              <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value='<%= data[0].password%>' placeholder="Password" required>
                
                <div>
                  <input type="checkbox" id="show-pw" onclick="toggleMask()">
                  <label for="show-pw">Show password</label>
                </div>
              </div>
              <div class="input-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" value='<%= data[0].phone_number%>' placeholder="Phone number" required>
              </div>
              <div class="input-group">
                <label for="area">Area:</label>
                <input type="text" id="area" name="area" value='<%= data[0].area%>' placeholder="Area" required>
              </div>

              <% if (usertype == 'Owner') { %>
                <div class="input-group">
                  <label for="creditcard">Credit Card Number:</label>
                  <input type="text" id="creditcard" name="creditcard" value='<%= data[0].credit_card%>' placeholder="Credit card number">
                </div>
              <% } %>
              <% if (usertype == 'Admin') { %>
                <div class="input-group">
                  <label for="position">Position:</label>
                <input type="text" id="position" name="position" value='<%= data[0].position%>' placeholder="Position" required>
                </div>
              <% } %>
              <button type="submit">Edit Profile</button>
            </form>
        </div>

        <div class="spacing"></div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>

        <script>
          window.addEventListener('load', function() {
            var forms = [document.getElementById('editProfileForm')];
            var validation = Array.prototype.filter.call(forms, function(form) {
              if('<%= usertype %>' === 'Owner') {
                form.addEventListener('submit', checkPO, false);
              }
              if('<%= usertype %>' === 'Caretaker') {
                form.addEventListener('submit', checkCTProfile, false);
              }
              if('<%= usertype %>' === 'Admin') {
                form.addEventListener('submit', checkAD, false);
              } 
            });
          }, false);
        </script>      
    </body>
</html>
