
<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/past-order.css' />
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <div class="card box">
                <h1>Summary for Current Month</h1>
                <hr>
                <% if (dataS.length != 0) { %>
                    <table>
                        <tr>
                            <td>Total transactions: </td>
                            <td><%= dataS[0].transactions %></td>
                        </tr>
                        <tr>
                            <td>Total pets: </td>
                            <td><%= dataS[0].pets %></td>
                        </tr>
                        <tr>
                            <td>Total pet days: </td>
                            <td><%= dataS[0].pet_days %></td>
                        </tr>
                        <tr>
                            <td>Total salary: </td>
                            <td>$<%= dataS[0].salary %></td>
                        </tr>
                    </table>
                <% } else { %>
                    <table>
                        <tr>
                            <td>Total transactions: </td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Total pets: </td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Total pet days: </td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Total salary: </td>
                            <td>$0.00</td>
                        </tr>
                    </table>
                <% } %>
            </div>

            <div class="spacing"></div>

            <div class="card box">
                <h1> Current Jobs </h1>
                <hr>
                <% if (currOrders.length == 0) { %>
                    <p>No current orders.</p>
                <% } else { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Pet Name</th>
                                <th scope="col">Pet Owner</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Review</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<currOrders.length; i++) { %>
                            <tr>
                                <td><%= currOrders[i].name %></td>
                                <td><%= currOrders[i].username %></td>
                                <td><%= currOrders[i].start_day %>/<%= currOrders[i].start_month %>/<%= currOrders[i].start_year %></td>
                                <td><%= currOrders[i].end_day %>/<%= currOrders[i].end_month %>/<%= currOrders[i].end_year %></td>
                                <td><%= currOrders[i].rating %></td>
                                <td><%= currOrders[i].review %></td>
                                <td>
                                    <% if (currOrders[i].has_paid) { %>
                                        Confirmed
                                    <% } else if (currOrders[i].is_completed) { %>
                                        Completed
                                    <% } else { %>
                                        Pending
                                    <% } %> 
                                </td>
                                <% if (!currOrders[i].has_paid) { %>
                                    <td style="border:transparent;">
                                        <form method="POST" action="/ct/<%= encodeURIComponent(currOrders[i].name)%>/<%= encodeURIComponent(currOrders[i].username)%>/<%= encodeURIComponent(currOrders[i].end_day)%>/<%= encodeURIComponent(currOrders[i].end_month)%>/<%= encodeURIComponent(currOrders[i].end_year)%>/paid" style="display:inline;">
                                            <button type="submit" class="button button2" onclick="return confirm('Are you sure the pet owner has paid?');" >Confirm</button>
                                        </form>
                                    </td>
                                <% } else if (!currOrders[i].is_completed) {%>
                                    <td style="border:transparent;">
                                        <form method="POST" action="/ct/<%= encodeURIComponent(currOrders[i].name)%>/<%= encodeURIComponent(currOrders[i].username)%>/<%= encodeURIComponent(currOrders[i].end_day)%>/<%= encodeURIComponent(currOrders[i].end_month)%>/<%= encodeURIComponent(currOrders[i].end_year)%>/completed" style="display:inline;">
                                            <button type="submit" class="button button2" onclick="return confirm('Are you sure the order is completed?');" >Complete</button>
                                        </form>
                                    </td>
                                <% } %>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div>

            <div class="spacing"></div>
            
            <div class="card box">
                <h1> Past Jobs </h1>
                <hr>
                <% if (pastOrders.length == 0) { %>
                    <p>No past orders.</p>
                <% } else { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Pet Name</th>
                                <th scope="col">Pet Owner</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Review</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<pastOrders.length; i++) { %>
                            <tr>
                                <td><%= pastOrders[i].name %></td>
                                <td><%= pastOrders[i].username %></td>
                                <td><%= pastOrders[i].start_day %>/<%= pastOrders[i].start_month %>/<%= pastOrders[i].start_year %></td>
                                <td><%= pastOrders[i].end_day %>/<%= pastOrders[i].end_month %>/<%= pastOrders[i].end_year %></td>
                                <td><%= pastOrders[i].rating %></td>
                                <td><%= pastOrders[i].review %></td>
                                <td>
                                    <% if (pastOrders[i].has_paid) { %>
                                        Confirmed
                                    <% } else if (pastOrders[i].is_completed) { %>
                                        Completed
                                    <% } else { %>
                                        Pending
                                    <% } %> 
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
        
        <div class="spacing"></div>
        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
