<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
    </head>

    <body>

        <!-- <%- include('./components/backToTopBtn'); %> -->

        <header>
            <%- include('./components/header'); %>
        </header>

        <!-- Content here -->
        <h1><%= title %></h1>
        <style>
            th, td {
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
                table-layout: auto;
                width: 99%;
            }
            .button {
              border: none;
              color: white;
              padding: 10px 10px;
              text-align: center;
              margin: 5px;
              text-decoration: none;
              display: inline-block;
              font-size: 14px;
              cursor: pointer;
              background-color: #4CAF50; /* Green */
            }
        </style>
        <% if (data.length == 0) { %>
            <p>No past orders.</p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pet Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Care Taker</th>
                        <th scope="col">Daily Price</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Transfer Method</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Review</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<data.length; i++) { %>
                    <tr>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].start_day %>/<%= data[i].start_month %>/<%= data[i].start_year %></td>
                        <td><%= data[i].end_day %>/<%= data[i].end_month %>/<%= data[i].end_year %></td>
                        <td><%= data[i].ctuname %></td>
                        <td><%= data[i].daily_price %></td>
                        <td><%= data[i].has_paid %></td>
                        <td><%= data[i].payment_mode %></td>
                        <td><%= data[i].transfer_method %></td>
                        <td><%= data[i].rating %></td>
                        <td><%= data[i].review %></td>
                        <% if (data[i].is_completed && data[i].rating == null) { %>
                            <td style="border:transparent;">
                                <button class="button" onclick="window.location.href='/po/<%= encodeURIComponent(data[i].end_day)%>/<%= encodeURIComponent(data[i].end_month)%>/<%= encodeURIComponent(data[i].end_year)%>/<%= encodeURIComponent(data[i].ctuname)%>/review'">Rate & Review</button>
                            </td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
