<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/past-order.css' />
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>

        <div class="content">
            <div class="card box">
                <h1>Current Orders</h1>
                <hr>
                <% if (currOrders.length === 0) { %>
                    <p>No current orders</p>
                <% } else { %>
                    <table>
                        <tr>
                            <th>Pet Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Care Taker</th>
                            <th>Daily Price</th>
                            <th>Paid</th>
                            <th>Payment Mode</th>
                            <th>Transfer Method</th>
                            <th>Rating</th>
                            <th>Review</th>
                        </tr>
                        <% for(var i=0; i<currOrders.length; i++) { %>
                            <tr>
                                <td><%= currOrders[i].name %></td>
                                <td><%= currOrders[i].start_day %>/<%= currOrders[i].start_month %>/<%= currOrders[i].start_year %></td>
                                <td><%= currOrders[i].end_day %>/<%= currOrders[i].end_month %>/<%= currOrders[i].end_year %></td>
                                <td><%= currOrders[i].ctuname %></td>
                                <td>$<%= parseFloat(currOrders[i].daily_price).toFixed(2) %></td>
                                <td><%= currOrders[i].has_paid %></td>
                                <td><%= currOrders[i].payment_mode %></td>
                                <td><%= currOrders[i].transfer_method %></td>
                                <td><%= currOrders[i].rating %></td>
                                <td><%= currOrders[i].review %></td>
                                <td style="border:transparent;">
                                    <% if (currOrders[i].is_completed && currOrders[i].rating == null) { %>
                                        <button class="button" onclick="window.location.href='/po/<%= encodeURIComponent(currOrders[i].name)%>/<%= encodeURIComponent(currOrders[i].end_day)%>/<%= encodeURIComponent(currOrders[i].end_month)%>/<%= encodeURIComponent(currOrders[i].end_year)%>/<%= encodeURIComponent(currOrders[i].ctuname)%>/review'">Rate & Review</button>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>

        <div class="spacing"></div>

        <div class="content">
            <div class="card box">
                <h1>Past Orders</h1>
                <hr>
                <% if (pastOrders.length === 0) { %>
                    <p>No current orders</p>
                <% } else { %>
                    <table>
                        <tr>
                            <th>Pet Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Care Taker</th>
                            <th>Daily Price</th>
                            <th>Paid</th>
                            <th>Payment Mode</th>
                            <th>Transfer Method</th>
                            <th>Rating</th>
                            <th>Review</th>
                        </tr>
                        <% for(var i=0; i<pastOrders.length; i++) { %>
                            <tr>
                                <td><%= pastOrders[i].name %></td>
                                <td><%= pastOrders[i].start_day %>/<%= pastOrders[i].start_month %>/<%= pastOrders[i].start_year %></td>
                                <td><%= pastOrders[i].end_day %>/<%= pastOrders[i].end_month %>/<%= pastOrders[i].end_year %></td>
                                <td><%= pastOrders[i].ctuname %></td>
                                <td>$<%= parseFloat(pastOrders[i].daily_price).toFixed(2) %></td>
                                <td><%= pastOrders[i].has_paid %></td>
                                <td><%= pastOrders[i].payment_mode %></td>
                                <td><%= pastOrders[i].transfer_method %></td>
                                <td><%= pastOrders[i].rating %></td>
                                <td><%= pastOrders[i].review %></td>
                                <td style="border:transparent;">
                                    <% if (pastOrders[i].is_completed && pastOrders[i].rating == null) { %>
                                        <button class="button" onclick="window.location.href='/po/<%= encodeURIComponent(pastOrders[i].name)%>/<%= encodeURIComponent(pastOrders[i].end_day)%>/<%= encodeURIComponent(pastOrders[i].end_month)%>/<%= encodeURIComponent(pastOrders[i].end_year)%>/<%= encodeURIComponent(pastOrders[i].ctuname)%>/review'">Rate & Review</button>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>

        <div class="spacing"></div>
        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
