<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/add-pet.css' />
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="content">
            <div class="spacing"></div>
            <form id="addPetForm" method="POST" action="/petadd">
                <h3 id="title">Add Pet</h3>
                
                <label for="petname">Pet name: </label>
                <input type="text" id="petname" name="petname" placeholder="Name of pet" required>
                
                <label for="type">Pet Type: </label>
                <select name="type" id="type">
                    <option value="Cat">Cat</option>
                    <option value="Dog">Dog</option>
                    <option value="Rabbit">Rabbit</option>
                    <option value="Hamster">Hamster</option>
                    <option value="Fish">Fish</option>
                    <option value="Tortoise">Tortoise</option>
                    <option value="Frog">Frog</option>
                    <option value="Terrapin">Terrapin</option>
                    <option value="Bird">Bird</option>
                    <option value="Insect">Insect</option>
                    <option value="Guinea Pig">Guinea Pig</option>
                    <option value="Reptile">Reptile</option>
                </select>
                <hr>
                <label>Diet: </label>
                <table>
                    <tr>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Dry" />
                            <label>Dry </label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Canned" /> 
                            <label>Canned </label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Semi-moist" />
                            <label>Semi-moist </label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Fresh" />
                            <label>Fresh </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Home cooked" />
                            <label>Home cooked </label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Raw" />
                            <label>Raw </label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Milk" />
                            <label>Milk </label>
                        </td>
                        <td>
                            <input class="checkbox" type="checkbox" name="diet" value="Grain" />
                            <label>Grain </label>
                        </td>
                    </tr>
                </table>
                <hr>
                <label for="walk">Walk: </label>
                <select name="walk" id="type">
                    <option value="None">None</option>
                    <option value="Daily">Daily</option>
                    <option value="Twice a day">Twice a day</option>
                    <option value="Thrice a day">Thrice a day</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Twice a week">Twice a week</option>
                    <option value="Thrice a week">Thrice a week</option>
                </select>
                
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
        
        <script>
            if ("<%= error%>" != "") {
                alert('<%= error%>');
            }
        </script>
        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
