<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <%- include('./components/htmlHead'); %>
    <title>Add New Pet</title>
</head>
<style>
      button {
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        background-color: #4CAF50;
      }
</style>
<body>
<h1><%= title%></h1>
<form method="POST" action="/petadd">
    <div class="form-group">
        <label for="petname">Pet name: </label>
        <input type="text" id="petname" name="petname" placeholder="Name of pet" required>
    </div>
    <div class=form-group">
        <p>Pet Type: </p>
        <p>
            <label><input type="radio" name="type" value="Cat" checked/> Cat</label><br>
            <label><input type="radio" name="type" value="Dog" /> Dog</label><br>
            <label><input type="radio" name="type" value="Rabbit" /> Rabbit</label><br>
            <label><input type="radio" name="type" value="Hamster" /> Hamster</label><br>
            <label><input type="radio" name="type" value="Fish" /> Fish</label><br>
            <label><input type="radio" name="type" value="Tortoise" /> Tortoise</label><br>
            <label><input type="radio" name="type" value="Frog" /> Frog</label><br>
            <label><input type="radio" name="type" value="Terappin" /> Terrapin</label><br>
            <label><input type="radio" name="type" value="Bird" /> Bird</label><br>
            <label><input type="radio" name="type" value="Insect" /> Insect</label><br>
            <label><input type="radio" name="type" value="Guinea Pig" /> Guinea Pig</label><br>
            <label><input type="radio" name="type" value="Reptile" /> Reptile</label><br>
        </p>
    </div>
    <div class="form-group">
        <p>Diet: </p>
        <p>
            <label><input type="radio" name="diet" value="Dry" /> Dry</label><br>
            <label><input type="radio" name="diet" value="Canned" /> Canned</label><br>
            <label><input type="radio" name="diet" value="Semi-moist" /> Semi-moist</label><br>
            <label><input type="radio" name="diet" value="Fresh" /> Fresh</label><br>
            <label><input type="radio" name="diet" value="Home cooked" /> Home cooked</label><br>
            <label><input type="radio" name="diet" value="Raw" /> Raw</label><br>
            <label><input type="radio" name="diet" value="Milk" /> Milk</label><br>
            <label><input type="radio" name="diet" value="Grain" /> Grain</label><br>
            <label><input type="radio" name="diet" value="None" checked/> None</label><br>
        </p>
    </div>
    <div class="form-group">
        <p>Walk: </p>
        <p>
            <label><input type="radio" name="walk" value="Daily" /> Daily</label><br>
            <label><input type="radio" name="walk" value="Twice a day" /> Twice a day</label><br>
            <label><input type="radio" name="walk" value="Thrice a day" /> Thrice a day</label><br>
            <label><input type="radio" name="walk" value="Weekly" /> Weekly</label><br>
            <label><input type="radio" name="walk" value="Twice a week" /> Twice a week</label><br>
            <label><input type="radio" name="walk" value="Thrice a week" /> Thrice a week</label><br>
            <label><input type="radio" name="walk" value="None" checked/> None</label><br>
        </p>
    </div>
    <button type="submit" class="button">Submit</button>
</form>
<script>
   if ("<%= error%>" != "") {
        alert('<%= error%>');
    }
</script>
<footer>
    <%- include('./components/footer'); %>
</footer>
</body>
</html>
