<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/update-pet.css' />
    </head>
    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
          <form id="updatePetForm" method="POST" action="/pet/<%= petname%>/update">
            <h3 id="title">Update Pet: <%= petname%> </h3>
            <label>Diet: </label>
            <table>
                <tr>
                    <td>
                        <input class="checkbox" id="Dry" type="checkbox" name="diet" value="Dry" />
                        <label>Dry </label>
                    </td>
                    <td>
                        <input class="checkbox" id="Canned" type="checkbox" name="diet" value="Canned" /> 
                        <label>Canned </label>
                    </td>
                    <td>
                        <input class="checkbox" id="Semi-moist" type="checkbox" name="diet" value="Semi-moist" />
                        <label>Semi-moist </label>
                    </td>
                    <td>
                        <input class="checkbox" id="Fresh" type="checkbox" name="diet" value="Fresh" />
                        <label>Fresh </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="checkbox" id="Home cooked" type="checkbox" name="diet" value="Home cooked" />
                        <label>Home cooked </label>
                    </td>
                    <td>
                        <input class="checkbox" id="Raw" type="checkbox" name="diet" value="Raw" />
                        <label>Raw </label>
                    </td>
                    <td>
                        <input class="checkbox" id="Milk" type="checkbox" name="diet" value="Milk" />
                        <label>Milk </label>
                    </td>
                    <td>
                        <input class="checkbox" id="Grain" type="checkbox" name="diet" value="Grain" />
                        <label>Grain </label>
                    </td>
                </tr>
            </table>

            <label>Walk: </label>
            <select name="walk" id="walk">
              <option id="None" value="None">None</option>
              <option id="Daily" value="Daily">Daily</option>
              <option id="Twice a day" value="Twice a day">Twice a day</option>
              <option id="Thrice a day" value="Thrice a day">Thrice a day</option>
              <option id="Weekly" value="Weekly">Weekly</option>
              <option id="Twice a week" value="Twice a week">Twice a week</option>
              <option id="Thrice a week" value="Thrice a week">Thrice a week</option>
            </select>
            <button type="submit" class="button">Submit</button>
        </form>
      </div>
 
      <% for (var i = 0; i < data.length; i++) { %>
        <% if (data[i].rtype === "diet") { %>
          <script>
            document.getElementById("<%= data[i].requirement%>").checked = true;
          </script>
        <% } else if (data[i].rtype === "walk") { %>
          <script>
            document.getElementById("<%= data[i].requirement%>").selected = true;
          </script>
          <% } %>
      <% } %>

      <footer>
          <%- include('./components/footer'); %>
      </footer>
      </body>
</html>
