<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/profile.css' />
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <div class="card box">
                <div id="section-head">
                    <h1>Profile</h1>
                    <div class="button-group">
                        <button onclick="window.location.href='/edit_profile'">Edit Profile</button>
                        <% if (data[0].username != 'root') { %>
                        <form method="POST" action="/profile">
                            <button type="submit" class="red" onclick="return confirm('Are you sure to delete?');" >Delete Profile</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <table>
                    <tr>
                        <td>Username: </td>
                        <td><%= data[0].username %></td>
                    </tr>    
                </table>
                <hr>
                <table>
                    <tr>
                        <td>Name: </td>
                        <td><%= data[0].name %></td>
                    </tr>
                    <tr>
                        <td>Contact number:</td>
                        <td><%= data[0].phone_number %></td>
                    </tr>
                    <tr>
                        <td>Area:</td>
                        <td><%= data[0].area %></td>
                    </tr>
                    <tr>
                        <td>Position: </td>
                        <td><%= data[0].position %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="spacing"></div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
