<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
    </head>

    <body>

        <!-- <%- include('./components/backToTopBtn'); %> -->

        <header>
            <%- include('./components/header'); %>
        </header>

        <body>
        <h1 style="display:inline-block;"><%= title %></h1>
        <td style="border:transparent;">
            <button class="button button1" onclick="window.location.href='/edit_profile'">Edit Profile</button>
            <form method="POST" action="/profile" style="display:inline;">
              <button type="submit" class="button button2" onclick="return confirm('Are you sure to delete?');" >Delete Profile</button>
            </form>
        </td>
        <p>Username: <%= data[0].username %></p>
        <p>Name: <%= data[0].name %></p>
        <p>Phone number: <%= data[0].phone_number %></p>
        <p>Area: <%= data[0].area %></p>
        <p>Job type: <%= data[0].job_type %></p>
        <% if (!data[0].rating) { %>
            <p>Average rating: -</p>
        <% } else { %>
            <p>Average rating: <%= data[0].rating %> / 5</p>
        <% } %>

        <style>
                th, td {
                  border: 1px solid black;
                }
                table {
                    border-collapse: collapse;
                }
                .button {
                  border: none;
                  color: white;
                  padding: 10px 10px;
                  text-align: center;
                  margin: 5px;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 14px;
                  cursor: pointer;
                }
                .button1 {background-color: #4CAF50;} /* Green */
                .button2 {background-color: #FF0030;} /* Red */
            </style>


        <h1>Pricing</h1>
        <% if (dataP.length == 0) { %>
            <p>No pricing.</p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pet type</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<dataP.length; i++) { %>
                    <tr>
                        <td><%= dataP[i].type %></td>
                        <td><%= dataP[i].price %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>

        <% if (data[0].job_type == 'Full Time') { %>
            <h1>Leave</h1>
            <% if (dataA.length == 0) { %>
                <p>No leave.</p>
            <% } else { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<dataA.length; i++) { %>
                        <tr>
                            <td><%= dataA[i].day %>/<%= dataA[i].month %>/<%= dataA[i].year %></td>
                            <% if (!dataA[i].reason) { %>
                                <td>-</td>
                            <% } else { %>
                                <td><%= dataA[i].reason %></td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        <% } else { %>
            <h1>Availability</h1>
            <% if (dataA.length == 0) { %>
                <p>No availability.</p>
            <% } else { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<dataA.length; i++) { %>
                        <tr>
                            <td><%= dataA[i].day %>/<%= dataA[i].month %>/<%= dataA[i].year %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        <% } %>

        <h1>Review</h1>
        <% if (dataR.length == 0) { %>
            <p>No review.</p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Reviewer</th>
                        <th scope="col">Review</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<dataR.length; i++) { %>
                    <tr>
                        <td><%= dataR[i].username %></td>
                        <td><%= dataR[i].review %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
