<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/profile.css' />
    </head>
    <body>
        <header>
            <%- include('./components/header'); %>
            
        </header>

        <div class="spacing"></div>
        <div class="content">
            <div class="card box">
                <div id="section-head">
                    <h1>Profile</h1>
                    <div class="button-group">
                        <button onclick="window.location.href='/edit_profile'">Edit Profile</button>
                        <form method="POST" action="/profile" style="display:inline;">
                            <button type="submit" class="red" onclick="return confirm('Are you sure to delete?');" >Delete Account</button>
                        </form>
                    </div>
                </div>
                <table>
                    <tr>
                        <td>Username: </td>
                        <td><%= data[0].username %></td>
                    </tr>    
                </table>
                <hr>
                <table>
                    <tr>
                        <td>Name: </td>
                        <td><%= data[0].name %></td>
                    </tr>
                    <tr>
                        <td>Contact number:</td>
                        <td><%= data[0].phone_number %></td>
                    </tr>
                    <tr>
                        <td>Area:</td>
                        <td><%= data[0].area %></td>
                    </tr>
                    <tr>
                        <td>Credit card number:</td>
                        <% if (!data[0].credit_card) { %>
                            <td>-</td>
                        <% } else { %>
                            <td><%= data[0].credit_card %></td>
                        <% } %>
                    </tr>
                </table>
            </div>

            <div class="spacing"></div>

            <div class="card box">
                <div id="section-head">
                    <h1>Pet Information</h1>
                    <button class="button button1" onclick="window.location.href='/petadd'">Add pet</button>
                </div>
                <hr>
                <% if (dataP.length == 0) { %>
                    <p>No pets.</p>
                <% } else { %>
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th scope="col">Pet name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Diet</th>
                                <th scope="col">Walk</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var prev = ''%>
                            <% for(var i=0; i<dataP.length; i++) { %>
                                <% var pet = dataP[i].name %>
                                <% var diet = '' %>
                                <% var walk = '' %>
                                <% for(var j=0; j<dataP.length;j++) { %>
                                    <% if (dataP[j].rtype == 'diet' && dataP[j].name == pet) { %>
                                        <% diet += dataP[j].requirement + ', ' %>
                                    <% } %>
                                    <% if (dataP[j].rtype == 'walk' && dataP[j].name == pet) { %>
                                        <% walk += dataP[j].requirement + ', ' %>
                                    <% } %>
                                <% } %>
                                <% if (pet != prev) { %>
                                    <tr>
                                        <td><%= dataP[i].name %></td>
                                        <td><%= dataP[i].type %></td>
                                        <td><%= diet = diet == ''? diet : diet.substring(0, diet.length - 2) %></td>
                                        <td><%= walk = walk == ''? walk : walk.substring(0, walk.length - 2) %></td>
                                        <td style="border:transparent;">
                                            <button class="button button1" onclick="window.location.href='/pet/<%= encodeURIComponent(dataP[i].name)%>/update'">Edit</button>
                                            <form method="POST" action="/pet/<%= encodeURIComponent(dataP[i].name)%>/delete" style="display:inline;">
                                                <button type="submit" class="button button2" onclick="return confirm('Are you sure to delete?');" >Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% prev = pet %>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>

        <div class="spacing"></div>
        
        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
