<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
            <link rel='stylesheet' href='/css/profile.css' />
        </header>

        <div class="spacing"></div>
        
        <div class="content">
            <div class="card box">
                <div id="section-head">
                    <h1><%= title %></h1>
                    <div class="button-group">
                        <button onclick="window.location.href='/edit_profile'">Edit Profile</button>
                        <form method="POST" action="/profile">
                            <button type="submit" class="red" onclick="return confirm('Are you sure to delete?');">Delete Profile</button>
                        </form>
                    </div>
                </div>
                <p>Username: <%= data[0].username %></p>
                <hr>
                <table>
                    <tr>
                        <td>Name: </td>
                        <td><%= data[0].name %> (<%= data[0].job_type %>)</td>
                    </tr>
                    <tr>
                        <td>Contact number:</td>
                        <td><%= data[0].phone_number %></td>
                    </tr>
                    <tr>
                        <td>Area:</td>
                        <td><%= data[0].area %></td>
                    </tr>
                    <tr>
                        <td>Average rating:</td>
                        <% if (!data[0].rating) { %>
                            <td>-</td>
                        <% } else { %>
                            <td><%= data[0].rating %> / 5.00</td>
                        <% } %>
                    </tr>
                </table>
            </div>

            <div class="spacing"></div>

            <div class="card box">
                <div id="section-head">
                    <h1>Pricing</h1>
                    <button class="button button1" onclick="window.location.href='/addtype'">Add Pet Type</button>
                </div>
                <hr>
                <% if (dataP.length == 0) { %>
                    <p>No pricing.</p>
                <% } else { %>
                    <table>
                        <tr>
                            <th scope="col">Pet type</td>
                            <th scope="col">Price</td>
                        </tr>
                        <% for(var i=0; i<dataP.length; i++) { %>
                            <tr>
                                <td><%= dataP[i].type %></td>
                                <td>$<%= parseFloat(dataP[i].price).toFixed(2) %></td>
                                <% if (data[0].rating >= 4) { %>
                                    <td style="border:transparent;">
                                        <button onclick="window.location.href='/ct/<%= encodeURIComponent(dataP[i].type)%>/set'">Set Price</button>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>

            <div class="spacing"></div>

            <div class="card box">
                <div id="section-head">
                    <% if (data[0].job_type == 'Full Time') { %>
                        <h1>Leave</h1>
                        <button onclick="window.location.href='/applyleave'">Apply Leave</button>
                    <% } else { %>
                        <h1>Availability</h1>
                        <button class="button" onclick="window.location.href='/addAvailability'">Declare Availability</button>
                    <% } %>
                </div>
                <hr>

                <% if (dataA.length == 0) { %>
                    <% if (data[0].job_type == 'Full Time') { %>
                        <p>No leave</p>
                    <% } else { %>
                        <p>Not availabile</p>
                    <% } %>
                <% } else { %>
                    <% if (data[0].job_type == 'Full Time') { %>
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Reason</th>
                            </tr>
                            <% for(var i = dataA.length - 1; i >= 0; i--) { %>
                                <tr>
                                    <td><%= dataA[i].day %>/<%= dataA[i].month %>/<%= dataA[i].year %></td>
                                    <% if (!dataA[i].reason) { %>
                                        <td>-</td>
                                    <% } else { %>
                                        <td><%= dataA[i].reason %></td>
                                    <% } %>
                                </tr>
                            <% } %>
                        </table>
                    <% } else { %>
                        <table>
                            <tr>
                                <th>Date:</th>
                            </tr>
                            <% for(var i = dataA.length - 1; i >= 0; i--) { %>
                                <tr>
                                    <td><%= dataA[i].day %>/<%= dataA[i].month %>/<%= dataA[i].year %></td>
                                </tr>
                            <% } %>
                        </table>
                    <% } %>
                <% } %>
        </div>

        <div class="spacing"></div>

        <div class="card box">
            <div id="section-head">
                <h1>Reviews</h1>
            </div>
            <hr>

            <% if (dataR.length == 0) { %>
                <p>No review.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>Reviewer</th>
                        <th>Review</th>
                    </tr>
                    <% for(var i=0; i<dataR.length; i++) { %>
                        <tr>
                            <td><%= dataR[i].username %></td>
                            <td><%= dataR[i].review %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>

        <div class="spacing"></div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
