<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <title>Rate & Review</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/review.css">
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <div class="card box">
                <h1><%= title%> : <%= ctuname%> </h1>
                <p>Pet Name: <%= name %></p>
                <p>Start Date: <%= data[0].start_day %>/<%= data[0].start_month %>/<%= data[0].start_year %></p>
                <p>End Date: <%= day%>/<%= month%>/<%= year%></p>
                <p>Daily Price: parseFloat(data[i].daily_price).toFixed(2)</p>
                <p>Payment Mode: <%= data[0].payment_mode %></p>
                <p>Transfer Method: <%= data[0].transfer_method %></p>
            </div>

            <div class="spacing"></div>

            <div class="card box">
                <h2>Leave a Review / Rating</h2>
                <hr>
                <form method="POST" action="/po/<%= name%>/<%= day%>/<%= month%>/<%= year%>/<%= ctuname%>/review">
                    <div class="form-group">    
                        <h5>Rating:</h5>
                        <div>
                            <input type="radio" id="rate5" name="rating" value="5" checked />
                            <label for="rate5">★★★★★</label>
                        </div>
                        <div>
                            <input type="radio" id="rate4" name="rating" value="4" />
                            <label for="rate4">★★★★</label>
                        </div>
                        <div>
                            <input type="radio" id="rate3" name="rating" value="3" />
                            <label for="rate3">★★★</label>
                        </div>
                        <div>
                            <input type="radio" id="rate2" name="rating" value="2" />
                            <label for="rate2">★★</label>
                        </div>
                        <div>
                            <input type="radio" id="rate1" name="rating" value="1" />
                            <label for="rate1">★</label>
                        </div>
                        <br>
                        <h5>Comment:</h5>
                        <div class="form-group">
                            <textarea class="form-control" type="text" id="review" name="review" placeholder="Write a review" rows="8" cols="80"></textarea>
                        </div>
                        </div>
                        <button type="submit" class="button">Submit</button>
                    </form>
            </div>
        </div>
      <footer>
          <%- include('./components/footer'); %>
      </footer>
      </body>
</html>
