<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/form.css'/>
    </head>

    <body>
        
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <form id="setpriceForm" method="POST" action="/ct/<%= type %>/set">
                <h3 id="title">Set Price For <%= type %></h3>
                <div class="form-group">
                  <label for="price">New price: </label>
                  <input type="text" id="price" name="price" required>
                </div>
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
        
        <script>
            function checkInt() {
                var price = document.getElementById('price').value;
                if (!/^\d+\.?\d{0,2}$/.test(price)) {
                    alert('Please input valid amount!');
                    event.preventDefault();
		            event.stopPropagation();
		        }
            }
            
            window.addEventListener('load', function() {
                var forms = [document.getElementById('setpriceForm')];
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', checkInt, false);
                });
            }, false);

            if ("<%= error%>" != "") {
                alert('<%= error%>');
            }
        </script>
        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>