<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/summary.css' />
    </head>

    <body>

        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="spacing"></div>
        <div class="content">
            <div class="card box">
                <h1>Summary</h1>
                <hr>
                <table id="summary">
                    <tr>
                        <td>Month with most transactions: <%= dataT[0].tmonth %> <%= dataT[0].tyear %> ( <%= dataT[0].transactions %> transactions )</td>
                        <td>Month with highest earnings: <%= dataE[0].emonth %> <%= dataE[0].eyear %> ( $<%= parseFloat(dataE[0].earnings).toFixed(2) %> )</td>
                    </tr>
                    <tr>
                        <td>Month with most pets: <%= dataP[0].pmonth %> <%= dataP[0].pyear %> ( <%= dataP[0].pets %> pets )</td>
                        <td>Month with highest salary paid: <%= dataS[0].smonth %> <%= dataS[0].syear %> ( $<%= dataS[0].salary %> )</td>
                    </tr>
                    <tr>
                        <td>Month with most pet days: <%= dataPd[0].pdmonth %> <%= dataPd[0].pdyear %> ( <%= dataPd[0].pet_days %> pet days )</td>
                        <td>
                            
                            Month with highest profit: <%= dataPf[0].pfmonth %> <%= dataPf[0].pfyear %>
                            <% if (dataPf[0].profit < 0) { %>
                                ( - $<%= Math.abs(dataPf[0].profit).toFixed(2) %> )
                            <% } else { %>
                                ( $<%= parseFloat(dataPf[0].profit).toFixed(2) %> )
                            <% } %>
                        </td>
                    </tr>
                </table>
            </div>
                
            <div class="spacing"></div>

            <div class="card box">
                <h3>Monthly Record</h3>
                <table>
                    <tr>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Total Transactions</th>
                        <th>Total Pets</th>
                        <th>Total Pet Days</th>
                        <th>Total Salary Paid</th>
                        <th>Total Earnings</th>
                        <th>Profit</th>
                    </tr>
                    <% var mths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
                    <% var idx = (new Date()).getMonth(); %>
                    <% var count = 0; %>
                    <% var yr = (new Date()).getFullYear() - 1; %>
                    <% for(var i=0; i<data.length; i++) { %>
                    <%      while (mths[idx] != data[i].month) { %>
                            <tr>
                                <td><%= mths[idx] %></td>
                                <td><%= yr %></td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                    <%          idx = (idx + 1) % 12; %>
                    <%          yr = idx == 0 ? yr + 1 : yr; %>
                    <%          count = count + 1; %>
                    <%      } %>
                    <tr>
                        <td><%= data[i].month %></td>
                        <td><%= data[i].year %></td>
                        <td><%= data[i].total_transactions %></td>
                        <td><%= data[i].total_pets %></td>
                        <td><%= data[i].total_pet_days %></td>
                        <td>$<%= data[i].total_salary %></td>
                        <td>$<%= data[i].total_earnings %></td>
                        <td>
                            <% if (data[i].profit < 0) { %>
                                - $<%= Math.abs(data[i].profit).toFixed(2) %>
                            <% } else { %>
                                $<%= parseFloat(data[i].profit).toFixed(2) %>
                            <% } %>
                        </td>
                    </tr>
                    <%      count = count + 1; %>
                    <%      idx = (idx + 1) % 12; %>
                    <% } %>
                    <% for(count; count < 12; count++) { %>
                    <tr>
                        <td><%= mths[idx] %></td>
                        <td><%= yr %></td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <%      idx = (idx + 1) % 12; %>
                    <%      yr = idx == 0 ? yr + 1 : yr; %>
                    <% } %>
                </table>
            </div>
        </div>

        <div class="spacing"></div>
        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
